html {
    background-color: rgb(38, 42, 54);
}

p {
    color: white;
}

h2 {
    color: white;
}

h3 {
    color: white;
}

a {
    color: white;
}

a:hover {
    color: rgb(97, 173, 255)
}

td,
th {
    color: white;
    text-align: center;
}


article {
    border: 3px solid white;
    border-radius: 10px;
    margin: 40px;
    padding: 10px;
}
