/* Univerversal style*/
html {
    background-color: rgb(38, 42, 54);
}

h1 {
    display: inline-block;
    color: white;
    position: relative;
    bottom: 19px;
}

h2,
h3 {
    color: white;
    width: 350;
    margin: 0 auto;
    text-align: center;
    font-family: 微軟正黑體;
}

p {
    color: white;
    width: 350;
    margin: 0 auto;
    text-align: left;
    font-family: 微軟正黑體;
}

a {
    font-family: 微軟正黑體;
}

article {
    border: 3px solid white;
    border-radius: 10px;
    margin: 40px 10px;
    padding: 10px;
    background-color: rgb(38, 42, 54);
}

/* logo */
.logo {
    position: fixed;
    top: 0px;
    z-index: 10;
    width: 100%;
    background-color: rgb(38, 42, 54);
    border-bottom: 3px solid white;
    opacity: 0.95;
}

/* navigation */
.bar a {
    background-color: white;
    color: rgb(38, 42, 54);
    border: 1px solid white;
    border-radius: 10px;
    display: inline-block;
    padding: 10px;
    margin: 10px
}

.bar a:hover {
    color: white;
    background-color: rgb(38, 42, 54);
}

.bar {
    border: 1px solid rgb(38, 42, 54);
    padding: 130px 0px 5px;
    text-align: center;

}

/* footer */
footer {
    border-top: 1px solid white;
    border-bottom: 1px solid white;
    padding: 5px 0px;
    margin: 20px;
    text-align: center;
}

footer a {
    background-color: white;
    color: rgb(38, 42, 54);
    border: 1px solid white;
    border-radius: 10px;
    display: inline-block;
    padding: 20px;
    margin: 10px;
    font-weight: bold;
    font-style: italic;
}

footer a:hover {
    color: white;
    background-color: rgb(38, 42, 54);
}

/* specified */
img[alt*=logo] {
    margin: 10px 5px !important;
    position: relative;
    top: 15px;
}
