html {
    background-color: rgb(38, 42, 54);
}

h2,
h3 {
    color: white;
    width: 350;
    margin: 0 auto;
    text-align: center;
}

p {
    color: white;
    width: 350;
    margin: 0 auto;
    text-align: left;
}

#more a {
    color: white;
    width: 350;
    margin: 0 auto;
    max-width: 500;
    min-width: 350;
}

td {
    color: white;
    text-align: center;
}


article {
    border: 3px solid white;
    border-radius: 10px;
    margin: 20px 10px;
    padding: 10px;
}

.bar a {
    background-color: white;
    color: black;
    border: 1px solid white;
    border-radius: 10px;
    display: inline-block;
    padding: 10px;
    margin: 10px
}

.bar a:hover {
    color: rgb(97, 173, 255)
}

.bar {
    border: 1px solid rgb(38, 42, 54);
    padding: 40px 0px;
    text-align: center;
}

img[alt*=logo] {
    margin: 20px !important;
}

